/* CSS RESET - undo the varying default styling applied by web browsers to HTML elements */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* A elements have the default underlining removed */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* sr-only is for screen reader use only - The element will be visually hidden but will still be read by screen reader technology. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

/* Customised CSS specific to the Rapid Modular WA website */

/* Reusable Custom CSS Variables */
:root {
  /* Measurments */
  --width_row-width-percentage: 90%;
  /* Colors */
  --color-text-white: #FFF;
  --color-text-black: #000;
  --color-page-background: #FFF;
  --color-header-background: #000000;
  --color-footer-background: #000000;
  /* --color-btn-hover: #4cd547; */ /* UPDATED TO ONE TYPE OF GREEN */
  --color-btn-hover: #bde244;
  --color-header-nav-active-and-hover: #bde244;
  --form-input-error-color: #ff0000;
  /* Typography */
  --font-size-xsmall: 12px;
  --font-size-small: 14px;
  --font-size-medium: 15px;
  --font-size-large: 24px;
  --line-height-small: 120%;
  --line-height-normal: 150%;
  --font-weight-medium: 600;
  --font-weight-bold: 900;
}

html {
  scroll-behavior: smooth;
  font-size: 16px; /* Sets the base size for 1rem to 16px */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: var(--color_standard-text);
  background-color: var(--color-page-background);
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Divs, Containers & buttons - Reusable */

.row {
  display: flex;
  flex-direction: column;
  width: var(--width_row-width-percentage);
  padding: 20px 0px;
  margin: auto;
  max-width: 1500px;
  gap: 12px; /* space between the columns in each row, needs unsetting for desktop viewports */
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: var(--color-header-background);
  border-radius: 0;
  padding: 10px;
}

.header__brandname-wrapper {
  margin: auto;
}

.header__logo {
  max-height: 50px;
}

.header__nav {
  display: flex;
}

.header__nav-list{
  list-style: none;
  display: none; /* hide the nav list on mobile devices */
}

.header__nav-list-item {
  margin-right: 50px;
  font-weight: 700;
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.header__nav-list-item a {
  color: var(--color-text-white);
}

.header__nav-list-item--active:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 0%;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-header-nav-active-and-hover);
}

.header__nav-list-item a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--color-header-nav-active-and-hover);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.header__nav-list-item .nav__current-tab {
  color: var(--color-header-nav-active-and-hover);
}

.header__btn {
  font-weight: 900;
  color: black;
  background-color: #bde244;
  padding: 6px;
  border: 2px solid #FFF;
  border-radius: 8px;
  transition: all .3s;
  display: none; /* hide the button on all devices - later swap to hide on mobile only */
}

/* HEADER MENU - MOBILE DEVICES - BETA TESTING STAGE BELOW */

.header .menu-icon {
  /* Define the size of the menu icon container */
  width: 35px;
  height: 35px;
  position: relative; /* Positions the bars absolutely relative to this container */
}

.menu-icon .bar {
  display: block;
  width: 27px;
  height: 4px;
  background-color: #FFF;
  margin: 6px auto; /* Center the bars horizontally */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Styles for the cross state */
.menu-icon.cross .bar {
  margin: 0; /* Reset margin to 0 for the cross state */
  position: absolute;
  top: 50%; /* Center the bars vertically in the container */
  left: 50%; /* Center the bars horizontally in the container */
  transform: translate(-50%, -50%); /* This ensures the center of the bar is in the center of the container */
  width: 32px;
}

.menu-icon.cross .bar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg); /* Rotate around the center of the bar */
}

.menu-icon.cross .bar:nth-child(2) {
  opacity: 0; /* The middle bar disappears */
}

.menu-icon.cross .bar:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg); /* Rotate around the center of the bar */
}

.header.open {
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.header.open .header__brandname-wrapper {
  margin: 0 auto;
}

.header__nav-list.open {
  display: block;
}

header.open .header__nav-list-item {
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  font-size: 2rem;
  margin-bottom: 30px;
}


/* Contact Form - Styling */

/* .contact-section-heading {
  text-align: center;
} */

.fa-square-check {
  color: #bde244;
}

.quote-outer-wrapper {
  background-color: #F5F5F5; /* Light grey background 100% width */
}

.contact-section-heading span {
  font-size: 1.25rem;
  margin-right: 18px;
}

.contact-section-row {
  margin-top: 20px;
}

.row-3 {
  display: flex;
  flex-direction: column;
  /* margin: 30px 0; */
}

.contact-section-row .col {
  /* background-color: rgba(159, 159, 157, 0.71); */
  /* padding: 20px; */
  border-radius: 16px;
}

.contact-section-row .row-3 {
  gap: 20px;
}

.contact-form-wrapper {
  width: 100%;
}

.contact-form-wrapper h2 {
  margin-bottom: 16px;
  text-align: center;
}

.contact-form__top-bio {
  font-size: 1.05rem;
  line-height: 1.25;
  font-weight: 700;
}

form {
  border-radius: 20px;
  margin-top: 2rem;
}

input,
textarea {
  border: 1px solid #808080;
  border-radius: 5px;
  color: hsl(249, 10%, 26%);
  margin: 8px 0px;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  padding: 0.7rem;
}

input:focus,
textarea:focus {
  outline: 1px solid #4d90fe;
}

/* Remove :Focus styling for Input Fields and Textareas that have .incorrect class applied as part of form submission validation error */
input.incorrect:focus,
textarea.incorrect:focus {
  outline: none;
}


/* Override browser styling for Input Fields that users complete with autofill  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: hsl(249, 10%, 26%) !important;
}

/* Override browser styling for Number Input Fields - Removes increment arrows / spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
margin: 8px 0px 4px 0px;
resize: none;
}

.none {
  display: none;
}

.incorrect {
  border: 2px solid var(--form-input-error-color);
  background: url(../images/icon-error.svg) no-repeat 97%;
  background-color: #FFF;
}

.error-message {
  text-align: end;
  color: var(--form-input-error-color);
  font-size: 0.8rem;
  padding: 0;
}

.submit-btn {
  border: none;
  border-radius: 5px;
  background-color: hsla(74, 73%, 58%, 0.8);
  /* box-shadow: 0px 8px hsla(74, 73%, 58%, 0.9); */
  font-size: 16px;
  /* width: 100%; */
  width: 100px;
  height: 40px;
  padding: 0.5rem;
  margin-top: 0.7rem;
  transition: all .3s ease-in-out;
}

.benefit-list {
  margin: 40px 0px;
}

.benefit-list span i {
  margin-bottom: 12px;
  margin-right: 5px;
}

.quick-contact-wrapper h3  {
  margin-top: 20px;
}

.row .col img {
  border-radius: 10px;
}

.section-title--small {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

.section-title--large {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
}

.section--paragraph {
  font-size: 16px;
  font-weight: 400;
  color: gray;
  padding-top: 16px;
}

.section--CTA-btn {
  display: inline-block;
  color: var(--color-text-white);
  background-color: black;
  padding: 16px 20px 16px 20px;
  margin-top: 20px;
  border-radius: 6px;
  transition: all .3s ease-in-out;
}


/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);

  /* REMOVE COMMENT WHEN TESTING */
  /* display: block; */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 0px 20px 20px 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 320px;
  text-align: center;
  position: relative; /* Make the modal-content position relative */

  border-radius: 10px;
}

.success-modal-icon {
  font-size: 3.5rem;
  padding: 11px 16px;
  margin: 30px 0 16px 0;
  background-color: green;

  border-radius: 50%; /* Use 50% to create a perfect circle */
}

/* Close button styles */
.close {
  position: absolute;
  top: 0px;  /* Position from the top */
  right: 15px;  /* Position from the right */
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}


.row--our-expertise h4 {
  font-size: 1.12rem;
  margin-top: 16px;
  font-weight: 500;
  text-decoration: underline gray solid 2px;
  text-underline-offset: 6px;

  /* Below is currently required for Safari browser support - check peridoically for updates */
  text-decoration-line: underline;
  text-decoration-color: gray;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.row--our-expertise h4 i {
  color: green;
  margin-right: 12px;
}

/* .row--our-expertise hr {
  margin: 0px  0px 0px 30px;
  width: 260px;
} */

.row--our-expertise .our-expertise--paragraph {
  margin-left: 30px;
  padding-top: 5px;
}

.services-box-row {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.service-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  width: 48%;
  padding: 15px 0px 5px 10px;
  min-height: 160px;
  transition: 400ms;
  /* border: 1px solid black; */
  background-color:  #F5F5F5;
  color: #000000;
}

.service-box:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.service-box i {
  display: inline-block;
  /* font-size: 25px; */
  font-size: 18px;
  padding: 14px;
  border-radius: 50%;
  transition: 400ms;
  background-color:#bde244;
}

.service-box h2 {
  font-size: 16px;
  font-weight: 800;
}

.service-box h3 {
  font-size: 12px;
  color: #353535;
  width: 95%;
}

.services-box-row:hover > .service-box:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.service-box:hover {
  background-color:#bde244;
}

.service-box:hover > div i {
  /* color:#4cd547;
  background-color:white; */
  color:#FFF;
  background-color:#000000;
}

/* Footer Section */
.footer {
  position: sticky;
  top: 100%;
  background-color: var(--color-footer-background);
  color: var(--color-text-white);
}

.footer__container {
  width: var(--width_row-width-percentage);
  margin: 0 auto;
}

.footer__div {
  width: 100%;
  align-items: flex-start;
}

.footer-div__title {
  padding-top: 27px;  /* will need to be updated for other footer titles that share this class */
  font-family: 'Gazpacho', serif;
  font-size: 24px;
  font-weight: 900;
}

.footer-div__line {
  margin: 12px 0;
  stroke-width: 1px;
  stroke: #D0D0D0;
  width: 100%;
  max-width: 320px;
}

.footer-div__contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-div__contact-list li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.footer-div__contact-list-link,
.website-design-attribution-link {
  color: var(--color-text-white);
  font-size: 14px;
  font-weight: 600;
  line-height: var(--line-height-normal);
}

.footer-div__main-text  {
  font-size: 0.938rem;
  line-height: var(--line-height-normal);
}

.footer__text-bottom,
.footer__text-bottom a {
  font-size: var(--font-size-xsmall);
  font-weight: 600;
  line-height: var(--line-height-small);
  margin: 21px 0 14px 0;
  color: var(--color-text-white);
}

.footer__bottom-container {
  display: flex;
  justify-content: space-between;
}

.footer-div__social-media-link {
  font-size: 30px;
  margin-right: 24px;
}

.footer-div__social-media-icon {
  transition: all .3s ease-in-out;
}

.website-design-attribution {
  margin-top: 12px;
}

.footer-div__contact-list-link i,
.website-design-attribution a {
  color: #bde244;
}
.footer__div--contact a {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.footer__div--contact a i {
  margin-right: 12px;
}

.fa-facebook-f {
  color: #1877F2;
}

.fa-instagram {
  background: linear-gradient(to top, #FED576, #f47133, #bc3081, #4c63d2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text itself transparent, showing the background */
  display: inline-block; /* Needed to apply the gradient correctly */
}

.fa-linkedin {
  color: #0A66C2;
}

  /* GALLERY PAGE CSS - AND DISPLAY CARDS BELOW */

/* body tag reset display to block for gallery page only */
.body-gallery-page {
  display: block;
}

.gallery-title {
  text-align: center;
  line-height: 1.2;
  font-size: 1.75rem;
  margin: 10px 10px; /* check break points */
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-auto-rows: 206px;  /* Adjusted to match 3:2 ratio */
  grid-auto-flow: dense;
  margin: 20px auto;
  width: var(--width_row-width-percentage);
}

.gallery > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery > div > .gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.gallery .tall {
  grid-row: span 2;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-button {
  display: inline-block;
  background-color: white;
  text-align: center;
  width: 300px;
  height: 3rem;
  border-radius: 1rem;
  position: relative;
  color: black;
  font-size: 1.25rem;
  font-weight: 600;
  overflow: hidden; /* Ensures content stays within the button */
  cursor: pointer;
  border: 2px solid #34D399;
  margin-bottom: 20px;
}

.custom-button-404 {
  margin-top: 20px;
}

.icon-div {
  background-color: #34D399;
  border-radius: 0.75rem 0rem 0rem 0.75rem;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}

.button-text {
  margin: 0;
  transform: translateX(1.5rem); /* Moves the text to the right */
  line-height: 2.6rem; /* Vertically centers the text within the button */
}

.main.main-404-page .row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-404-page .section-title--large {
  margin-top: 21px;
}

.col-privacy-policy h1,
.col-privacy-policy h2,
.col-privacy-policy h3 {
  margin-top: 21px;
  margin-bottom: 10px;
}

.col-privacy-policy h4 {
  margin: 7px 0px;
}

.col-privacy-policy ul li {
  margin-left: -18px;
  margin-bottom: 8px;
}


/* Media Queries for viewports wider that 768px - ADDED TI REPORPUSE FOOTER FROM LDD / GDD website */
@media screen and (min-width: 768px) {

  .custom-button {
    display: none;
  }

  .custom-button-404 {
    display: inline-block;
  }

  .header {
    justify-content: space-between;
  }
  .header .menu-icon {
    display: none;
  }

  .header__btn {
    display: block; /* show the button on desktop devices */
  }

  .header__brandname-wrapper {
    margin: 0;
  }

  /* Footer Section */

  .footer {
    width: 100%;
    padding: 0px 100px;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;
  }

  .footer__div {
    width: 25%;
  }

  .footer-div__line {
    width: 70%;
  }

  .footer__div--contact p {
    width: 70%;
  }

}

/* Initial responsiveness for desktop devices - add adjust for px perfection later */
@media screen and (min-width: 1200px) {

  .header__nav-list {
    display: flex; /* show the nav list on desktop devices */
  }

  .row {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

  .row .col img {
    margin-top: 10px;
  }

  .row-our-services {
    flex-direction: column;
    padding-bottom: 0px;
  }

  .row--our-expertise {
    flex-direction: row-reverse;
  }

  .row .col {
    width: 45%;
  }

  .row .col-privacy-policy {
    width: 100%;
  }

  .row .col img {
    max-width: 550px;
  }

  .row .col.col-404-page {
    width: unset;
  }

  .row .col.col-404-page h2,
  .row .col.col-404-page h3,
  .row .col.col-404-page p{
    max-width:400px;
  }

  .row .col.col-404-page .custom-button-404 {
    margin: 33px auto;
  }

  .services-box-row {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .service-box {
    width: 20%;
    /* padding: 20px 0px; */
    padding: 20px 0px 20px 15px;

  }

  .service-box h2 {
    font-size: 21px;
  }

  .service-box h3 {
    width: 80%;
    font-size: 14px;
  }

  .contact-section-row {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 36px;
  }
  .contact-section-row .contact-section-heading,
  .contact-section-row .section--paragraph {
    max-width: 800px;
    margin: 0 auto;
  }

  .submit-btn {
    align-self: flex-start;
  }

  .row-3 {
    align-items: center;
  }

  .row-3 .col {
    width: 70%;
  }

  .benefit-list br {
    display: none;
  }

  /* .benefit-list span {
    margin-right: 10px;
  } */

  .benefit-list {
   display: flex;
   justify-content: space-between;
  }

  /* RESETTING + UNSETTING FROM DEFAULT RULES */

  .section-title--small {
    font-size: 22px;
  }

  .section-title--large {
    font-size: 49px;
    line-height: 56px;
  }

  .section--paragraph {
    font-size: 18px;
  }

  .section--CTA-btn {
    font-size: 18px;
  }

  .row--our-expertise h4 {
    font-size: 1.5rem;
    margin-top: 18px;
    font-weight: 500;
  }

  .row--our-expertise hr {
    margin: 0px  0px 0px 40px;
    width: 334px;
  }

  .row--our-expertise h4 i {
    margin-right: 20px;
  }

  /* CONTACT FORM CSS MAY NEED TO BE MOVED TO A DIFFERENT MEDIA QUIRY VIEWPORT SIZE */

  .quote-outer-wrapper {
    border-radius: 10px;
  }

  .contact-form__top-bio {
    font-size: 1.15rem;
  }

  .incorrect {
    border: 2px solid var(--form-input-error-color);
    background: url(../images/icon-error.svg) no-repeat 98%;
    background-color: #FFF;
  }

}

@media (hover: hover) {

  a:hover,
  .submit-btn:hover {
    cursor: pointer;
  }

  .footer a:not(.footer-div__social-media-link):hover {
    opacity: 0.75;
  }

  .header__nav-list-item a:hover {
    color: var(--color-header-nav-active-and-hover);
  }

  .header__nav-list-item a:hover:after {
    width: 100%;
    left: 0%;
  }

  .header__nav-list:hover > .header__nav-list-item a:not(:hover) {
    color: #FFF;
  }

  .header__nav-list:hover > .header__nav-list-item--active:after {
    left: 50%;
    width: 0%;
  }

  .header__btn:hover {
    background-color: var(--color-btn-hover);
    border: 2px solid var(--color-btn-hover);
  }

  .section--CTA-btn:hover {
    background-color: var(--color-btn-hover);
    color: black;
  }

  .submit-btn:hover {
    background-color: var(--color-btn-hover);
    /* box-shadow: 0px 8px hsl(117.89, 62.83%, 55.69%, 0.8); */
  }

  .footer-div__social-media-icon:hover {
    transform: scale(1.6);
  }

}